/* to avoid any conflicts between square div sizes*/
* {
	box-sizing: border-box;
	/* border: 1px solid green; */
}
.body {
	display: flex;
	justify-content: center;
	background-color:rgb(251, 251, 255);
}
#page {
	height: 100vh;
	width: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

p{
	width: 100%;
	display: flex;
	justify-content: center;
}

h1 {
	display: flex;
	margin: 10px;
}

#grid-dimensions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: content-box;
	width: 510px;
	height: 510px;
	margin-top: 20px;
	border-top: 2px solid red;
	border-right: 3px solid red;
	border-left: 3px solid red;
	border-bottom: 4px solid red;
}
.grid-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: content-box;
	width: 505px;
	height: 505px;
	border: 3px rgb(241, 164, 164) solid;
	border-right: 2px rgb(241, 164, 164) solid;
}

#grid{
	width: 500px;
	height: 500px;
	border: 2px solid lightcoral;
	background-color:rgb(255, 253, 246) ;
	display: flex;
	flex-direction: column;
}

/* to give a tapered "depth" to the grid container*/
.grid-bottom{
	width: 516px;
	height: 0px;
	border-top: 50px solid rgb(214, 6, 6);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
/* adding a matching "shadow" to the grid container */
.grid-shadow{
	width: 506px;
	height: 0px;
	margin-left: 2px;
	border-top: 75px solid rgb(218, 209, 233);
	border-left: 15px solid transparent;
	border-right: 5px solid transparent;
	}

.color-grid {
		margin-top: 15px;
		padding: 5px;
		border: 3px solid rgb(180, 173, 173);
		display: flex;
		flex-direction: row;		
		height: 60px;
		width: 500px;
		box-shadow: 5px 8px 3px lightgray;
		transition: .3s;
	}

.color-line {	
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex: 1;
		width: 100%;
		height: 100%;
	}

.color-square {
		flex: auto;
		width: 100%;
		opacity: .7;
		transition: opacity .3s;
		cursor: pointer;
	}

.color-square:hover {
		opacity: 1;
	}

.slider {
	appearance: none;
	width: 100%;
	height: 15px;
	background: rgb(220, 246, 250);
	border: 1px rgb(126, 212, 247) solid;
	box-shadow: 0px 5px rgb(37, 180, 168), 1px 4px 2px 1px rgb(25, 128, 119);
	opacity: .7;
	transition: opacity .3s;
}

.slider:hover {
	opacity: 1;	
}

.slider::-webkit-slider-thumb {
	appearance: none;
	height: 13px;
	width: 13px;
	background: rgb(162, 229, 240);;
	box-shadow: 0px 1px rgb(37, 180, 168) inset;
	border: none;
	cursor: pointer;
}

#buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.button {
	display: inline-block;
	border: none;
	color:royalblue;
	background-color:lightgreen;
	padding: 8px;
	font-size: 14px;
	font-weight: 300;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	box-shadow: 0px 5px rgb(37, 180, 109), 1px 4px 2px 1px rgb(20, 112, 77);
	cursor: pointer;
	opacity: .7;
	transition: all .05s;
}

.button:hover {
	opacity: .9;
}

.button:active {
	opacity: 1;	
	background-color:rgb(136, 226, 136);
	box-shadow: 0px 0px, 0px -2px rgb(37, 180, 109);
	transform: translateY(5px);
}

.line {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.square{
	display: flex;
	flex: 1;
}